sudo: false
language: java
jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8
after_success:
  - mvn cobertura:cobertura coveralls:report
  - if [[ "$TRAVIS_PULL_REQUEST" = "false" ]]; then mvn deploy --settings maven_deploy_settings.xml; else echo 'Pull request, skipping deploy.'; fi

env:
  global:
    - secure: "KECS2w8m62ftcBNoZalNOKsagoKu/mqnz+y41L/yTyn3UEypCBDzQOD73CqBsIfhMfCN4yf5Z/iRzpVXn9T+tR5eqj3QdEJkmlPXeLbyTyVpdvpwykztM5GTY4hP8IKmWu9VAGKAW8LdkfYrJh2LAt8kL8SM7JITuLNNIO+qAw4="
    - secure: "g4f8nNpu6yESxEUx+wBHRZKkSU/Yv5B3gwsK7JQaYunWp8hw4u30mmwpGg9q/6GAqhxKpcz5Boa6kovAqAspVjkPOwgRHFIGerS7cUXPaObv7o1Q1J1faAM9KZ/0TaoYSJ8xMWe975sFOfoLh1rtBe0WhCp4oLBQdpg0MNkG2es="